#blue-fill {
    -fx-background-color: #3551B4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
#mid-blue-fill {
    -fx-background-color: #596FC0;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
#light-blue-fill0,
#light-blue-fill1,
#light-blue-fill2,
#light-blue-fill3,
#light-blue-fill4,
#light-blue-fill {
    -fx-background-color: #C2D0FF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
#grey-fill {
    -fx-background-color: #EEEEEE;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
#scrBackground {
    -fx-background-color: #C2D0FF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
#white-divider {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
#test1 {
    -fx-background-color: #3551B4;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
/*Please ensure test1 is properly replaced*/


#scrlStock {
    -fx-background-color: #C2D0FF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
#title-text {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 48px;
    -fx-font-weight: bold;
}
#subhead-text {
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}
#white-label {
    -fx-text-fill: #FFFFFF;
    -fx-font-weight: bold;
}
#lblWarning {
    -fx-fill: #FF0000;
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
}
#label-tag {
    -fx-font-weight: bold;
}

#btnLogin {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #3551B4;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 16px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
#btnLogin:hover {
    -fx-background-color: #C2D0FF;
    -fx-text-fill: #000000;
}

#btnBlue {
    -fx-background-color: #3551B4;
    -fx-text-fill: #FFFFFF;
    -fx-border-color: transparent;
    -fx-font-weight: bold;
    -fx-font-family: "Inter Semi Bold";
    -fx-font-size: 12px;
    -fx-background-radius: 25;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
#btnBlue:hover {
    -fx-background-color: #C2D0FF;
    -fx-text-fill: #FFFFFF;
}

#btnBack {
    -fx-background-color: transparent;
    -fx-graphic: url("../Assets/Icons/BackEnabled.png");;
}
#enrSearch {
    -fx-border-color: transparent;
    -fx-prompt-text-fill: #DDEEEE;
    -fx-background-color: #596FC0;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 14px;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0), 0, 0.0, 0, 0);
}
#image-search {
    -fx-image:url('../Assets/Icons/Search.png');
}
#image-shopping {
    -fx-image:url('../Assets/Icons/Shopping.png');
}
#image-profile {
    -fx-image:url('../Assets/Icons/Profile.png');
}
#image-down-arrow {
    -fx-image:url('../Assets/Icons/DownArrow.png');
}
#image-corner {
    -fx-image:url('../Assets/Icons/Corner.png');
}

#image-test-flag {
    -fx-image:url('../Assets/FlagsSmall/jp.png');
}

#lblStockPrice {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}
#lblStockName {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.text-field {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-border-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
.password-field {
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-border-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 7, 0.0, 0, 1);
}
.label {
    -fx-font-family: "Inter Semi Bold";
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color : #FFFFFF;
    -fx-border-color :transparent;
}
.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0;
    -fx-padding :0.0 0.0 10.0 0.0;

}
.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0;
    -fx-padding :0.0 10.0 0.0 0.0;

}
.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-padding :2 0.0;
}
.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-padding :0.0 2;
}
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color :#3551B4;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 4.0;
}
.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color : #596FC0;
    -fx-background-insets : 2.0, 0.0, 0.0;
    -fx-background-radius : 4.0;
}
.scroll-pane > .viewport {
    -fx-background-color: transparent;
}